.component-container{
    margin-top: 5vh;
}
.encabezado{
    font-size: 3vw;
    margin-bottom: 5vh;
}
.pregunta{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
}

@media (min-width: 1280px) {
    .encabezado{
        font-size: 1vw;
        margin-bottom: 0px;
    }
    .pregunta{
        text-align: center;
        font-size: 1.5vw;
        margin-bottom: 0px;
    }
}