app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
mat-drawer-container{
    background-color: transparent;
}
/* .container-fluid{
    border: 5px solid rgb(183, 182, 182);
} */